.top-nav{
    border: solid #453F78 1px;
    margin: 10px;
    padding: 10px;
}

.bg-coffe{
    background-color: #FFC94A;
}


.colos{
    color: #FFC94A;
    color: #C08B5C;
    color: #795458;
    color: #453F78
}
