<div class="container d-flex my-5 flex-wrap justify-content-around">
    <div class="card" style="width: 15rem; margin-bottom: 1rem">
        <img src={{reviwe.album_img}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{reviwe.album}}</h5>
          <p class="card-text">{{reviwe.artist}}</p>
          <a  class="btn btn-primary">Ver</a>
        </div>
      </div>
    <div class="card" style="width: 16rem; margin-bottom: 1rem">
        <img src={{reviwe.album_img}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{reviwe.album}}</h5>
          <p class="card-text">{{reviwe.artist}}</p>
          <a  class="btn btn-primary">Ver</a>
        </div>
      </div>
    <div class="card" style="width: 15rem; margin-bottom: 1rem">
        <img src={{reviwe.album_img}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{reviwe.album}}</h5>
          <p class="card-text">{{reviwe.artist}}</p>
          <a  class="btn btn-primary">Ver</a>
        </div>
      </div>
    <div class="card" style="width: 15rem; margin-bottom: 1rem">
        <img src={{reviwe.album_img}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{reviwe.album}}</h5>
          <p class="card-text">{{reviwe.artist}}</p>
          <a  class="btn btn-primary">Ver</a>
        </div>
      </div>
    <div class="card" style="width: 15rem; margin-bottom: 1rem">
        <img src={{reviwe.album_img}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{reviwe.album}}</h5>
          <p class="card-text">{{reviwe.artist}}</p>
          <a  class="btn btn-primary">Ver</a>
        </div>
      </div>
</div>

