<div class="container d-flex my-5 justify-content-center">
    <img
        src="{{ reviwe.album_img }}"
        height="auto"
        width="70"
        alt="album-cover"
        class="input-group-img align-self-center" />

    <div class="card w-75">
        <div class="card-title my-1">
            <b>{{reviwe.song_name}}</b>
        </div>
        <div class="card-text">
            <span>{{ reviwe.artist }} - {{ reviwe.album }}</span>
        </div>
        <span class="text-muted d-flex flex-row-reverse">
            {{ reviwe.time_ago }}
        </span>
    </div>
</div>
<div class="container d-flex my-5 justify-content-center">
    <img
        src="{{ reviwe.album_img }}"
        height="auto"
        width="70"
        alt="album-cover"
        class="input-group-img align-self-center" />

    <div class="card w-75">
        <div class="card-title my-1">
            <b>{{reviwe.song_name}}</b>
        </div>
        <div class="card-text">
            <span>{{ reviwe.artist }} - {{ reviwe.album }}</span>
        </div>
        <span class="text-muted d-flex flex-row-reverse">
            {{ reviwe.time_ago }}
        </span>
    </div>
</div>
<div class="container d-flex my-5 justify-content-center">
    <img
        src="{{ reviwe.album_img }}"
        height="auto"
        width="70"
        alt="album-cover"
        class="input-group-img align-self-center" />

    <div class="card w-75">
        <div class="card-title my-1">
            <b>{{reviwe.song_name}}</b>
        </div>
        <div class="card-text">
            <span>{{ reviwe.artist }} - {{ reviwe.album }}</span>
        </div>
        <span class="text-muted d-flex flex-row-reverse">
            {{ reviwe.time_ago }}
        </span>
    </div>
</div>
<div class="container d-flex my-5 justify-content-center">
    <img
        src="{{ reviwe.album_img }}"
        height="auto"
        width="70"
        alt="album-cover"
        class="input-group-img align-self-center" />

    <div class="card w-75">
        <div class="card-title my-1">
            <b>{{reviwe.song_name}}</b>
        </div>
        <div class="card-text">
            <span>{{ reviwe.artist }} - {{ reviwe.album }}</span>
        </div>
        <span class="text-muted d-flex flex-row-reverse">
            {{ reviwe.time_ago }}
        </span>
    </div>
</div>
